<mat-card class="card-overlay">
  <mat-card-subtitle class="card-subtitle">Bike Activities</mat-card-subtitle>
  <cdk-virtual-scroll-viewport itemSize="60px" class="bike-activities-metadata-list">
    <app-bike-activity-metadata *cdkVirtualFor="let bikeActivityMetadata of bikeActivitiesMetadata"
                                [bikeActivityMetadata]="bikeActivityMetadata"
                                (bikeActivityClickedEventEmitter)="onBikeActivityClicked($event)">
    </app-bike-activity-metadata>
  </cdk-virtual-scroll-viewport>
</mat-card>
