<app-map [id]="'map'"
         [height]="mapHeight"
         [style]="mapBoxStyleEnum.LIGHT_V10"
         [zoom]="11.5"
         [center]="placeEnum.BRANDENBURG_GATE"
         [interactiveEnabled]=true
         [flyToBoundingBox]="flyToBoundingBox"
         [opacities]="opacities"
         [initialOpacity]=initialOpacity
         [overlays]="overlays">
</app-map>

<app-bike-activity-list [bikeActivityMetadataMap]="bikeActivityMetadataMap"
                        (bikeActivityClickedEventEmitter)="onBikeActivityClicked($event)"
                        (bikeActivitySurfaceTypeClickedEventEmitter)="onBikeActivitySurfaceTypeClicked($event)"
                        (bikeActivitiesFilteredEventEmitter)="onBikeActivitiesFiltered($event)"></app-bike-activity-list>
