<mat-accordion class="accordion-overlay" multi>
  <mat-expansion-panel [expanded]="expansionPanelStep === 0" (opened)="onExpansionPanelOpened(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bike Activities
      </mat-panel-title>
    </mat-expansion-panel-header>
    <cdk-virtual-scroll-viewport itemSize="60px" class="bike-activities-metadata-list">
      <app-bike-activity-list-item *cdkVirtualFor="let bikeActivityMetadata of bikeActivitiesMetadata"
                                   [bikeActivityMetadata]="bikeActivityMetadata"
                                   (bikeActivityClickedEventEmitter)="onBikeActivityClicked($event)">
      </app-bike-activity-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expansionPanelStep === 1" (opened)="onExpansionPanelOpened(1)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Surface Types
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button (click)="onActivitySurfaceTypeClicked(null)">
      RESET
    </button>
    <ng-container *ngFor="let bikeActivitySurfaceType of bikeActivitySurfaceTypes">
      <button *ngIf="bikeActivitySurfaceType === filterSurfaceType" mat-flat-button
              color="primary"
              (click)="onActivitySurfaceTypeClicked(bikeActivitySurfaceType)">
        {{ bikeActivitySurfaceType | uppercase}}
      </button>
      <button *ngIf="bikeActivitySurfaceType !== filterSurfaceType" mat-button
              (click)="onActivitySurfaceTypeClicked(bikeActivitySurfaceType)">
        {{ bikeActivitySurfaceType | uppercase}}
      </button>
    </ng-container>


  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expansionPanelStep === 2" (opened)="onExpansionPanelOpened(2)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lab conditions
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button *ngIf="filterLabConditions" (click)="onLabConditionsClicked(false)">
      ALL
    </button>
    <button mat-flat-button *ngIf="!filterLabConditions" color="primary" (click)="onLabConditionsClicked(false)">
      ALL
    </button>
    <button mat-button *ngIf="!filterLabConditions" (click)="onLabConditionsClicked(true)">
      <mat-icon>science</mat-icon>
      LAB CONDITIONS
    </button>
    <button mat-flat-button *ngIf="filterLabConditions" color="primary" (click)="onLabConditionsClicked(true)">
      <mat-icon>science</mat-icon>
      LAB CONDITIONS
    </button>
  </mat-expansion-panel>
</mat-accordion>
