<mat-accordion class="accordion-overlay">
  <mat-expansion-panel [expanded]="expansionPanelStep === 0" (opened)="onExpansionPanelClicked(0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bike Activities
      </mat-panel-title>
    </mat-expansion-panel-header>
    <cdk-virtual-scroll-viewport itemSize="60px" class="bike-activities-metadata-list">
      <app-bike-activity-list-item *cdkVirtualFor="let bikeActivityMetadata of bikeActivitiesMetadata"
                                   [bikeActivityMetadata]="bikeActivityMetadata"
                                   (bikeActivityClickedEventEmitter)="onBikeActivityClicked($event)">
      </app-bike-activity-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="expansionPanelStep === 1" (opened)="onExpansionPanelClicked(1)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Surface Types
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button *ngFor="let bikeActivitySurfaceType of bikeActivitySurfaceTypes" (click)="onActivitySurfaceTypeClicked(bikeActivitySurfaceType)">
      {{ bikeActivitySurfaceType | uppercase}}
    </button>
  </mat-expansion-panel>
</mat-accordion>
