@import '../../../../../sizes';

.mat-expansion-panel-body {
  padding: 0 24px 16px !important;
}

.card-overlay, .accordion-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 30px;
  max-height: 100%;

  @media #{$breakpoint-large} {
    width: 450px;
  }
}

.card-subtitle {
  padding: 16px
}

.bike-activities-metadata-list {
  height: 450px;
}
