<div matRipple class="container" (click)="onBikeActivityClicked()">
  <mat-card-title class="title">Bike Activity</mat-card-title>

  <div class="flexbox subtitle">
    <mat-icon svgIcon="pedal_bike" class="bike-icon"></mat-icon>
    <span class="startTime">{{ startTime }}</span>
    <span class="delimiter">-</span>
    <span class="endTime">{{ endTime }}</span>
    <span class="delimiter">·</span>
    <span class="samples">{{ bikeActivityMetadata.bikeActivitySamples }} samples</span>
  </div>
</div>
